In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [8]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [9]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [11]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [12]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [13]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [14]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Dr. Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Dr. Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder MD',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Mr. Dylan Taylor MD',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Dr. Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Miss Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez MD',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins DVM',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen MD',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery MD',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Dr. Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas MD',
 'Scott Glover',
 'Jacqueline White',
 'Mrs. Elizabeth Espinoza DDS',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Mrs. Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Mr. Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez DVM',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Dr. Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson MD',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Mr. Roberto Wright MD',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Mr. Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez DDS',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Mrs. Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White MD',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill DDS',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Mrs. Catherine Williams MD',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell MD',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Mr. Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno PhD',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker MD',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams DVM',
 'Michele Dickerson',
 'Dr. Alicia Martinez',
 'Mr. Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Mrs. Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Mr. Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Mr. Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson MD',
 'Tina Armstrong',
 'Mr. Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Mrs. Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Mr. Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones DDS',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade MD',
 ...]

In [15]:
name = "Mrs. Linda Santiago"
print (name)
name.split()

Mrs. Linda Santiago

['Mrs.', 'Linda', 'Santiago']

In [16]:
# Split the student name and determine the length of the split name.
for name in student_names:
    print(name.split(), len(name.split()))

'] 2
['Savannah', 'Smith'] 2
['Heather', 'Hunter'] 2
['Lisa', 'Tucker'] 2
['Renee', 'Moore'] 2
['Nicole', 'White', 'MD'] 3
['Keith', 'King'] 2
['Amanda', 'Skinner', 'MD'] 3
['Marcus', 'Wallace'] 2
['James', 'Horton'] 2
['Darrell', 'Simpson'] 2
['Diane', 'Rush'] 2
['Christine', 'Guerrero'] 2
['Rita', 'Perez'] 2
['Sarah', 'Williams'] 2
['Jason', 'Key'] 2
['Christine', 'Smith'] 2
['Jennifer', 'Dixon'] 2
['Timothy', 'Wilson'] 2
['Maxwell', 'Anderson'] 2
['Christina', 'Robinson'] 2
['Abigail', 'Durham'] 2
['Charlotte', 'Graham'] 2
['Tanya', 'Barnes'] 2
['Theresa', 'Gentry'] 2
['Donald', 'Nicholson'] 2
['Nathan', 'Smith'] 2
['Sarah', 'Briggs'] 2
['Joshua', 'Thomas'] 2
['Alexander', 'Wilson'] 2
['David', 'Smith'] 2
['Rebecca', 'Reilly'] 2
['Paul', 'Bowers'] 2
['Teresa', 'Chapman'] 2
['Kimberly', 'Case'] 2
['Guy', 'Goodwin'] 2
['Brenda', 'Rivera'] 2
['Gregory', 'Shepherd'] 2
['Kenneth', 'Simon'] 2
['James', 'Stone'] 2
['Scott', 'Smith'] 2
['Kevin', 'Costa'] 2
['Kayla', 'Williams'] 2
['Joshua', 'Burch'] 2
['Emily', 'Washington'] 2
['Elizabeth', 'Graham'] 2
['Kristy', 'Perry'] 2
['Stacey', 'Rodriguez'] 2
['Brittany', 'Harper'] 2
['Robert', 'Pollard'] 2
['Heidi', 'Gomez'] 2
['Mark', 'White'] 2
['Dustin', 'Meyer'] 2
['Stephanie', 'Pham'] 2
['Jeffery', 'Howard'] 2
['Christina', 'Owen'] 2
['Ana', 'Ellis'] 2
['Evan', 'Jones'] 2
['William', 'Schmidt'] 2
['Elizabeth', 'Johnson'] 2
['Ronald', 'Yates'] 2
['Kenneth', 'Collins'] 2
['Stacey', 'Jennings'] 2
['Brandy', 'Cox'] 2
['Ann', 'Garcia'] 2
['David', 'Young'] 2
['Steven', 'Thompson'] 2
['Kaitlyn', 'Davis'] 2
['Patricia', 'Maddox'] 2
['Dylan', 'Ray'] 2
['Sharon', 'Larson'] 2
['Marc', 'Short'] 2
['John', 'Atkins'] 2
['Eugene', 'Johnson'] 2
['Terry', 'Torres'] 2
['Eric', 'Huff'] 2
['Joseph', 'Kim'] 2
['Katie', 'Neal'] 2
['Amy', 'Vega'] 2
['Daniel', 'Wilson'] 2
['Kurt', 'Martinez'] 2
['Dennis', 'Rodriguez'] 2
['Elaine', 'Stephens'] 2
['Melissa', 'Graves'] 2
['Adrienne', 'Turner', 'MD'] 3
['Sandra', 'Franco'] 2
['Adam', 'Woods'] 2
['Patrick', 'Joyce'] 2
['Tanya', 'Chen'] 2
['Tracy', 'Dawson'] 2
['Lisa', 'Coleman'] 2
['Brenda', 'Lloyd'] 2
['Brianna', 'Frey'] 2
['Michael', 'Green'] 2
['Megan', 'Page'] 2
['Jordan', 'Long'] 2
['Tracy', 'Lewis'] 2
['Christine', 'Sellers'] 2
['Angela', 'Berger'] 2
['Donald', 'Evans'] 2
['Scott', 'Rowe'] 2
['Veronica', 'Drake'] 2
['David', 'Cohen'] 2
['Mark', 'Rice'] 2
['Jesse', 'Reyes'] 2
['Nicole', 'Ritter'] 2
['Lisa', 'Gentry'] 2
['Terry', 'Scott', 'Jr.'] 3
['Cesar', 'Rodriguez', 'DVM'] 3
['Jennifer', 'Gay', 'MD'] 3
['David', 'House'] 2
['Michael', 'Moore'] 2
['Jared', 'Woodward'] 2
['Ashley', 'Black'] 2
['Adam', 'Hinton'] 2
['Rebecca', 'Sanchez'] 2
['Daniel', 'Harris'] 2
['Angie', 'Vance'] 2
['Zachary', 'Davis'] 2
['Joshua', 'Glass'] 2
['Scott', 'Mack'] 2
['Diane', 'Morse'] 2
['Lori', 'Jenkins'] 2
['Paul', 'Garcia'] 2
['Jonathan', 'Dunn'] 2
['Dustin', 'Butler'] 2
['Cody', 'Cortez'] 2
['Bridget', 'Benitez'] 2
['Mr.', 'Earl', 'Thompson'] 3
['Tracie', 'Stewart'] 2
['Brenda', 'Le'] 2
['Jennifer', 'Combs'] 2
['Elizabeth', 'Stout'] 2
['Edward', 'Lopez'] 2
['Timothy', 'Baird'] 2
['Drew', 'Jones'] 2
['Kevin', 'Gordon'] 2
['Andrew', 'Anthony'] 2
['David', 'Garner'] 2
['Dawn', 'Richards'] 2
['Zachary', 'Sanchez'] 2
['Paul', 'Butler'] 2
['Heidi', 'Rhodes'] 2
['Kimberly', 'Duncan'] 2
['Andrew', 'Jones'] 2
['Scott', 'Walters'] 2
['Travis', 'Johnson'] 2
['Taylor', 'Owen'] 2
['Ryan', 'Reed'] 2
['Erin', 'Miller'] 2
['Tiffany', 'Alvarez'] 2
['Donna', 'Ramirez'] 2
['David', 'Taylor'] 2
['Jacob', 'Roberts'] 2
['John', 'Small'] 2
['Robert', 'Lloyd'] 2
['Joe', 'Ewing'] 2
['William', 'Carter'] 2
['Miss', 'Melinda', 'Thomas'] 3
['Jill', 'Mckinney'] 2
['John', 'Dunn'] 2
['Jordan', 'Martinez'] 2
['Mary', 'Nixon', 'MD'] 3
['Kristin', 'Taylor'] 2
['Ashley', 'Jimenez'] 2
['Jessica', 'Hill'] 2
['Laurie', 'Fowler'] 2
['Michael', 'Johnson'] 2
['Kevin', 'Foster'] 2
['Michael', 'Stevens'] 2
['Tracy', 'Noble'] 2
['Daniel', 'Schultz'] 2
['Bridget', 'Robles'] 2
['Erin', 'Mccann'] 2
['Paul', 'Hayes'] 2
['Glenn', 'Mercer'] 2
['Charles', 'Flores'] 2
['Melissa', 'Wilson'] 2
['Tim', 'Harris'] 2
['John', 'Stuart'] 2
['Kim', 'Williams'] 2
['Andrew', 'Gomez'] 2
['Beverly', 'Whitney'] 2
['Eric', 'Cox'] 2
['Leslie', 'Kelly', 'MD'] 3
['Eric', 'Kelley'] 2
['Olivia', 'Hernandez'] 2
['Patrick', 'Garcia'] 2
['Teresa', 'Schultz'] 2
['Kim', 'Peck'] 2
['Laura', 'Murphy'] 2
['George', 'Green'] 2
['Richard', 'Bowman'] 2
['Jasmine', 'Garcia'] 2
['Victoria', 'Harrell'] 2
['Julie', 'Nelson'] 2
['Mrs.', 'Kristen', 'Gonzalez'] 3
['Michael', 'Carter', 'MD'] 3
['Arthur', 'Martinez'] 2
['James', 'Cruz'] 2
['Brian', 'Monroe'] 2
['Michael', 'Booth'] 2
['Daniel', 'Simpson'] 2
['Kenneth', 'Smith'] 2
['Joseph', 'Mitchell'] 2
['Allen', 'Payne'] 2
['Lisa', 'Ward'] 2
['Teresa', 'Miller'] 2
['Daniel', 'Wallace'] 2
['Sheena', 'Hill'] 2
['Sarah', 'Scott'] 2
['Michael', 'James'] 2
['Angela', 'Thompson'] 2
['Lindsay', 'Ortiz'] 2
['Catherine', 'Wilson'] 2
['Jill', 'Kim'] 2
['Lauren', 'Wilson'] 2
['Stacey', 'Lee'] 2
['Carmen', 'Kim'] 2
['Jennifer', 'Weaver'] 2
['Kristi', 'Castillo'] 2
['Matthew', 'Perez'] 2
['Diana', 'Mcdaniel'] 2
['Julia', 'King'] 2
['Susan', 'Thomas'] 2
['Lisa', 'Price'] 2
['Nancy', 'Hopkins'] 2
['Danny', 'Miller'] 2
['Paul', 'Ewing'] 2
['Frank', 'Davis'] 2
['Jeffrey', 'Schultz'] 2
['Misty', 'Nguyen'] 2
['Leroy', 'Shaffer'] 2
['Raymond', 'Hawkins'] 2
['Robert', 'Lewis'] 2
['Anna', 'Jacobs'] 2
['Nathan', 'Adams'] 2
['Christy', 'Ryan'] 2
['Madison', 'Palmer'] 2
['Christina', 'Hall'] 2
['Charles', 'Dickson'] 2
['Pamela', 'Thompson'] 2
['Meghan', 'Williams'] 2
['Gerald', 'Jones'] 2
['Tara', 'Simpson'] 2
['Ryan', 'Fernandez'] 2
['Marissa', 'Wilson'] 2
['Heather', 'Leblanc'] 2
['Andrea', 'Lee'] 2
['Erica', 'Singh'] 2
['Matthew', 'Crane'] 2
['Jennifer', 'Weaver'] 2
['Brian', 'Thomas'] 2
['Elizabeth', 'Lamb'] 2
['Dakota', 'Marshall'] 2
['Kelly', 'Donaldson'] 2
['Donald', 'Scott'] 2
['Mark', 'Smith'] 2
['Todd', 'Johnson'] 2
['Robin', 'Mathis'] 2
['Carlos', 'Gutierrez'] 2
['Katherine', 'Porter'] 2
['Denise', 'Perry'] 2
['Andrew', 'Nelson'] 2
['Michael', 'Hartman'] 2
['Andrea', 'Sanchez'] 2
['Ronnie', 'Powell'] 2
['Matthew', 'Davis'] 2
['Kristina', 'Morrison'] 2
['Kevin', 'Pierce'] 2
['Frank', 'Mitchell'] 2
['Tony', 'Hoover'] 2
['Jessica', 'Roach'] 2
['Danielle', 'Rodriguez'] 2
['Tracy', 'Nguyen'] 2
['Kelly', 'Bridges'] 2
['Joseph', 'Mcgrath'] 2
['Austin', 'Wilcox'] 2
['Katherine', 'Sims'] 2
['Mary', 'Miller'] 2
['Martin', 'Taylor'] 2
['Madison', 'Suarez'] 2
['Betty', 'Campbell'] 2
['Anna', 'Jackson'] 2
['Anthony', 'Reynolds'] 2
['Joseph', 'Perez', 'DDS'] 3
['Matthew', 'Dougherty'] 2
['Angela', 'Hill'] 2
['Stephanie', 'Long'] 2
['Kathy', 'Gonzales'] 2
['Kayla', 'Myers'] 2
['Edward', 'Jones'] 2
['Tiffany', 'Cook'] 2
['Bradley', 'Miller'] 2
['Lisa', 'Blackburn'] 2
['Sara', 'Williams'] 2
['Gregory', 'Howell'] 2
['Sarah', 'Allen'] 2
['Russell', 'Schmitt'] 2
['Peter', 'Stone'] 2
['Gerald', 'Estes'] 2
['Holly', 'Moore'] 2
['Allison', 'Webb'] 2
['Steven', 'Reynolds'] 2
['Mrs.', 'Alice', 'Warren'] 3
['Nichole', 'Perez'] 2
['Autumn', 'Green'] 2
['Eileen', 'Rios'] 2
['Jennifer', 'Cooper'] 2
['Martha', 'Molina'] 2
['Judith', 'Potter'] 2
['Evan', 'Martin'] 2
['Heather', 'Bailey'] 2
['Thomas', 'Clark'] 2
['Brian', 'Arnold'] 2
['Julia', 'Kelley', 'MD'] 3
['Evan', 'Mitchell'] 2
['Susan', 'Roberts'] 2
['Shannon', 'Lopez'] 2
['James', 'Williams'] 2
['Allison', 'Kerr'] 2
['Tiffany', 'Mccarthy'] 2
['Christina', 'Moreno'] 2
['Tony', 'Byrd'] 2
['Jared', 'Mcdonald'] 2
['Zoe', 'Allen'] 2
['Laura', 'Baker'] 2
['James', 'Hale'] 2
['Timothy', 'Obrien'] 2
['Mariah', 'Proctor'] 2
['Mary', 'Rogers'] 2
['Amber', 'Thompson'] 2
['Yolanda', 'Ochoa'] 2
['Debra', 'Rosales'] 2
['Joseph', 'Wood'] 2
['Andre', 'Fisher'] 2
['David', 'Coffey', 'PhD'] 3
['Kelly', 'Hernandez'] 2
['Cheryl', 'Diaz'] 2
['Linda', 'Chambers'] 2
['William', 'Sandoval'] 2
['Kristen', 'Crawford'] 2
['Erica', 'King'] 2
['Eric', 'Carson'] 2
['James', 'Cruz'] 2
['Nathan', 'Maldonado'] 2
['David', 'Rodriguez'] 2
['Justin', 'Williams'] 2
['Jason', 'Shaw'] 2
['Mrs.', 'Pam', 'Wolf', 'DDS'] 4
['Catherine', 'Cross'] 2
['Melissa', 'Johnson'] 2
['Lori', 'Wilkerson'] 2
['Katherine', 'Hardin'] 2
['Kevin', 'Vasquez'] 2
['Stephanie', 'Franklin'] 2
['Edward', 'Parrish'] 2
['Caitlin', 'Williams'] 2
['Mark', 'Sanchez'] 2
['Lindsey', 'Benson'] 2
['Rachel', 'Miller'] 2
['Andrea', 'Mack'] 2
['Sarah', 'Brown'] 2
['Lisa', 'Fitzgerald'] 2
['Jessica', 'Prince'] 2
['Jeffery', 'King'] 2
['Travis', 'Spencer'] 2
['Erica', 'Tucker'] 2
['Lauren', 'Casey'] 2
['Emily', 'Williams'] 2
['Kevin', 'Thomas'] 2
['Amanda', 'Small'] 2
['Kerri', 'Torres'] 2
['Danny', 'Powers'] 2
['Jessica', 'Cohen'] 2
['Jeffrey', 'Duarte'] 2
['Crystal', 'Fields'] 2
['Henry', 'Tucker'] 2
['Kenneth', 'Carter'] 2
['Courtney', 'Miller'] 2
['Eric', 'Benson'] 2
['Joshua', 'Vargas'] 2
['Rebekah', 'Perkins'] 2
['Mr.', 'Ryan', 'Thomas'] 3
['Pamela', 'Brooks'] 2
['Bridget', 'Shah'] 2
['Cassidy', 'Carter'] 2
['Kelly', 'Michael'] 2
['Michael', 'Flores'] 2
['Robert', 'Wilcox'] 2
['Christopher', 'Melton'] 2
['Stephanie', 'Johnson'] 2
['Thomas', 'Payne'] 2
['Elizabeth', 'Miller'] 2
['Pamela', 'Thomas'] 2
['Victoria', 'Nguyen'] 2
['Brian', 'Mills'] 2
['Deborah', 'Holloway'] 2
['David', 'Gray'] 2
['Kathleen', 'Lewis'] 2
['Michelle', 'Pratt'] 2
['Steven', 'Brown'] 2
['James', 'Wallace'] 2
['Amy', 'Hayes'] 2
['Matthew', 'Nunez'] 2
['Joseph', 'Gentry'] 2
['Heidi', 'Johnson'] 2
['Nancy', 'Harris'] 2
['Ashley', 'Hill'] 2
['Jeffery', 'Abbott'] 2
['Gregory', 'Morgan', 'MD'] 3
['Daniel', 'Herrera'] 2
['Pamela', 'Salinas'] 2
['Sarah', 'Johnson'] 2
['Jason', 'Gonzalez'] 2
['Richard', 'Alexander'] 2
['Randy', 'Richards'] 2
['Adriana', 'Reyes'] 2
['Carrie', 'Meyer'] 2
['Phillip', 'Lin'] 2
['Daniel', 'Mack'] 2
['Kimberly', 'Roach'] 2
['Dakota', 'Barry'] 2
['Latoya', 'Graham'] 2
['Manuel', 'Lane'] 2
['Kathy', 'Jones'] 2
['Charles', 'Petty'] 2
['Brent', 'Matthews'] 2
['Amy', 'Lucas'] 2
['Christopher', 'Black'] 2
['Alyssa', 'Burns'] 2
['Jeffrey', 'Evans'] 2
['Dr.', 'Carol', 'Williams'] 3
['Kelly', 'Chambers'] 2
['Kayla', 'Anderson'] 2
['Andrew', 'Ellis'] 2
['Michelle', 'Cook'] 2
['Victoria', 'Martin'] 2
['Joshua', 'Underwood'] 2
['Matthew', 'Howard'] 2
['Michelle', 'Gray'] 2
['Ms.', 'Rebecca', 'Gonzales'] 3
['James', 'Schmidt'] 2
['Mrs.', 'Samantha', 'Glover'] 3
['Theresa', 'Nelson'] 2
['Raymond', 'Jackson'] 2
['Yvette', 'Ashley'] 2
['David', 'Moss'] 2
['Elizabeth', 'Howard'] 2
['Shelby', 'George'] 2
['Justin', 'Frazier'] 2
['Chelsea', 'Adams'] 2
['Erika', 'Payne'] 2
['Anna', 'Decker', 'MD'] 3
['Linda', 'Mccann'] 2
['Leslie', 'Fowler'] 2
['Robin', 'Morris'] 2
['Samuel', 'Campbell'] 2
['Angela', 'Pennington'] 2
['Andrew', 'Stephenson'] 2
['Sandra', 'Mcbride'] 2
['Hailey', 'Lopez', 'DDS'] 3
['Walter', 'Stokes'] 2
['Dave', 'Diaz'] 2
['Robert', 'Coleman'] 2
['Andrew', 'Gibson'] 2
['Kristina', 'Snow'] 2
['Michael', 'Martinez'] 2
['Patrick', 'Jenkins'] 2
['Larry', 'Scott'] 2
['Dana', 'Kidd'] 2
['Amber', 'Lewis'] 2
['Alan', 'Simmons'] 2
['Rebecca', 'Joseph'] 2
['Brian', 'Acosta'] 2
['Kimberly', 'Erickson'] 2
['Cynthia', 'Maldonado'] 2
['Anthony', 'Flores'] 2
['Jacob', 'Mills'] 2
['Mr.', 'James', 'Baker'] 3
['Cynthia', 'Martin'] 2
['Natalie', 'Taylor'] 2
['Ashley', 'Mcdonald'] 2
['Kirk', 'Vaughn'] 2
['Dustin', 'Ray'] 2
['Gabriel', 'Miller'] 2
['Deborah', 'Griffith'] 2
['Christopher', 'Rose'] 2
['Maria', 'Kirk'] 2
['Nancy', 'Fox'] 2
['Heather', 'Davis'] 2
['Taylor', 'Smith'] 2
['Mrs.', 'Amber', 'Gonzalez'] 3
['Leslie', 'Nelson'] 2
['John', 'Escobar'] 2
['Robert', 'Harper'] 2
['Angela', 'Mooney'] 2
['Chad', 'Dudley'] 2
['Richard', 'Lee'] 2
['Elizabeth', 'Ross'] 2
['Cheryl', 'Garner'] 2
['Debbie', 'Garrison'] 2
['Nicole', 'Shaw'] 2
['Kayla', 'Jones'] 2
['Cristina', 'Drake'] 2
['Mr.', 'Jason', 'Patel', 'Jr.'] 4
['Tina', 'Salazar'] 2
['Timothy', 'Ward'] 2
['Jeremiah', 'Arroyo'] 2
['Ryan', 'Barnes'] 2
['Jennifer', 'Robinson'] 2
['Matthew', 'Walsh'] 2
['Marissa', 'Reed'] 2
['Matthew', 'Ritter'] 2
['Jennifer', 'Kelley'] 2
['David', 'Silva'] 2
['Reginald', 'Johnson'] 2
['Logan', 'White'] 2
['Cheryl', 'Reynolds'] 2
['Kelly', 'Mclean'] 2
['Laura', 'Richardson'] 2
['Maria', 'Davis'] 2
['Amy', 'Anderson'] 2
['Timothy', 'Smith'] 2
['Laura', 'Kidd'] 2
['Lydia', 'Gomez'] 2
['Stephanie', 'Walker', 'DDS'] 3
['Joseph', 'Daniels'] 2
['Tracey', 'Hernandez'] 2
['Barry', 'Bridges'] 2
['David', 'Lin'] 2
['Ariel', 'Reynolds'] 2
['Mr.', 'Timothy', 'Scott'] 3
['Jonathan', 'Crawford'] 2
['Natalie', 'Dunn'] 2
['Shawn', 'Williams'] 2
['Jennifer', 'Parsons'] 2
['Adam', 'Haley'] 2
['Mary', 'Berry'] 2
['Amy', 'Payne'] 2
['Emily', 'Neal'] 2
['Ashlee', 'Cooley'] 2
['Kenneth', 'Lane'] 2
['Joseph', 'Garcia'] 2
['Dr.', 'Michael', 'Sullivan', 'DDS'] 4
['Christopher', 'Henderson'] 2
['Javier', 'Zamora'] 2
['Theresa', 'Oconnor'] 2
['Jamie', 'Campbell'] 2
['Paige', 'Bates'] 2
['Kelly', 'Lane'] 2
['Steven', 'Hernandez'] 2
['Kristen', 'Sims'] 2
['Todd', 'Fields'] 2
['Larry', 'Holmes'] 2
['Michael', 'Miller'] 2
['Doris', 'Taylor'] 2
['Margaret', 'Hodge'] 2
['Vanessa', 'Burton'] 2
['Debra', 'Thomas'] 2
['Donna', 'Ellison'] 2
['Mrs.', 'Brittney', 'Schultz', 'DVM'] 4
['Sean', 'Morrison'] 2
['Dillon', 'Davidson'] 2
['Timothy', 'Conner'] 2
['Catherine', 'Romero'] 2
['Michael', 'Williams'] 2
['Susan', 'Greer'] 2
['John', 'Bentley'] 2
['Craig', 'Wells'] 2
['Aaron', 'Martin'] 2
['Alexandra', 'Wright'] 2
['Elizabeth', 'Mccoy'] 2
['Steven', 'Johnson'] 2
['Donna', 'Morales'] 2
['Sean', 'Morales'] 2
['Ashley', 'Park'] 2
['Kristy', 'Ruiz'] 2
['Jason', 'Fisher'] 2
['Gloria', 'Hamilton'] 2
['Evan', 'Moreno'] 2
['Betty', 'Jackson'] 2
['Courtney', 'Santos'] 2
['Lisa', 'Jackson'] 2
['Keith', 'Petty'] 2
['Randy', 'Travis'] 2
['Michael', 'Morgan'] 2
['Stephen', 'Miller'] 2
['Brian', 'Burton'] 2
['Debra', 'Williams'] 2
['Dr.', 'Frances', 'Romero'] 3
['Edgar', 'Garcia'] 2
['Eric', 'Williams'] 2
['Louis', 'Elliott'] 2
['Robin', 'Jones'] 2
['Lynn', 'Duncan'] 2
['Anthony', 'Nunez'] 2
['William', 'Newman'] 2
['Taylor', 'Salinas'] 2
['Lauren', 'Kelly'] 2
['Jordan', 'Hamilton'] 2
['Joel', 'Curry'] 2
['Andres', 'Reyes'] 2
['Thomas', 'Pham'] 2
['Gregory', 'Graham'] 2
['Nicholas', 'White'] 2
['Kevin', 'Rowe'] 2
['Michael', 'Palmer'] 2
['Jim', 'Carrillo'] 2
['Katherine', 'Russell'] 2
['Spencer', 'Johnson'] 2
['Mary', 'Taylor'] 2
['Henry', 'Burke'] 2
['Kelly', 'Weaver'] 2
['Christopher', 'Johnson'] 2
['Janice', 'Martin'] 2
['Taylor', 'Cooke'] 2
['Chad', 'Medina'] 2
['Ashley', 'Romero'] 2
['Samantha', 'Steele'] 2
['Stacey', 'Taylor'] 2
['Vicki', 'Meyer'] 2
['Taylor', 'Thomas'] 2
['Peggy', 'King'] 2
['Alexandra', 'Williams'] 2
['Sandra', 'Griffin'] 2
['Yolanda', 'Le'] 2
['Dennis', 'Bradford'] 2
['Ann', 'Duffy'] 2
['Rachel', 'Butler'] 2
['Robert', 'Smith'] 2
['Melissa', 'Hooper'] 2
['Amber', 'Anderson'] 2
['George', 'Collins'] 2
['Robert', 'Reid'] 2
['Stephen', 'Jones'] 2
['Brenda', 'Taylor'] 2
['Denise', 'Foster'] 2
['Alexandria', 'Carpenter'] 2
['Luke', 'Brown'] 2
['Michael', 'Clements'] 2
['Tiffany', 'Francis'] 2
['Shannon', 'Carson'] 2
['Tracey', 'Liu'] 2
['Logan', 'Osborn'] 2
['John', 'Roberson'] 2
['Dennis', 'Anderson'] 2
['Kelly', 'Diaz'] 2
['Chad', 'Carr'] 2
['John', 'Bailey'] 2
['Dennis', 'Peters'] 2
['Laura', 'Bennett', 'DDS'] 3
['Charles', 'Brown'] 2
['Marissa', 'Richardson'] 2
['Amy', 'Davis'] 2
['Andrea', 'Johnson'] 2
['Jessica', 'Brewer'] 2
['Ashley', 'Lynch'] 2
['Christine', 'Howell'] 2
['Luis', 'Cannon'] 2
['Jennifer', 'Phillips'] 2
['Maria', 'Davis'] 2
['Thomas', 'Anderson'] 2
['Annette', 'Davis'] 2
['David', 'Price'] 2
['Christina', 'Carter'] 2
['Laura', 'Smith'] 2
['Stacey', 'Mitchell'] 2
['Michelle', 'Davis'] 2
['Shane', 'Lindsey'] 2
['Denise', 'Moore'] 2
['Kendra', 'Flynn'] 2
['Austin', 'Burke'] 2
['David', 'Chapman'] 2
['Malik', 'Thomas'] 2
['Cynthia', 'Lloyd'] 2
['Theresa', 'Ryan'] 2
['Amber', 'Reynolds'] 2
['Allen', 'Goodwin', 'DDS'] 3
['Terry', 'Diaz'] 2
['Jeffrey', 'Davis'] 2
['Diana', 'Jones'] 2
['Mia', 'Gould'] 2
['Katherine', 'Johnson'] 2
['Michael', 'Williams'] 2
['Joseph', 'Turner'] 2
['Peter', 'Potter'] 2
['Ryan', 'Kim'] 2
['Janice', 'Yoder'] 2
['Carolyn', 'Webb'] 2
['Elizabeth', 'Bush'] 2
['Jaime', 'Edwards'] 2
['Bethany', 'Smith'] 2
['Wanda', 'Grimes'] 2
['Karina', 'Allison'] 2
['Timothy', 'Smith'] 2
['Jason', 'Harris'] 2
['Thomas', 'Smith'] 2
['John', 'Whitaker'] 2
['Kimberly', 'Brown', 'MD'] 3
['Barbara', 'Miller'] 2
['Madeline', 'Lopez'] 2
['Carlos', 'Fischer'] 2
['Amy', 'Collins'] 2
['Abigail', 'White'] 2
['Joanne', 'Strickland'] 2
['Maria', 'Hernandez'] 2
['Sandra', 'Mcdowell'] 2
['Kristin', 'Krause'] 2
['Alicia', 'Reese'] 2
['Isaac', 'Holt'] 2
['Jonathan', 'Garza'] 2
['Phillip', 'Smith'] 2
['Amanda', 'Vazquez'] 2
['Jaime', 'Holland'] 2
['Tina', 'Rhodes'] 2
['John', 'Wells'] 2
['Lindsay', 'Dougherty'] 2
['Caitlyn', 'Vega'] 2
['Kevin', 'Campbell'] 2
['Michael', 'Everett'] 2
['Christian', 'Martinez'] 2
['Chad', 'Rivera'] 2
['Amanda', 'Ferrell'] 2
['Natasha', 'Murphy'] 2
['Kathleen', 'Cook'] 2
['Steven', 'Lewis', 'Jr.'] 3
['Raymond', 'Hardy'] 2
['Michael', 'Hill'] 2
['Mary', 'Summers'] 2
['Barbara', 'Cardenas'] 2
['Angela', 'Garcia', 'DDS'] 3
['Ronnie', 'Craig'] 2
['Chad', 'Miller'] 2
['Margaret', 'Perez'] 2
['Michael', 'Rodriguez'] 2
['Preston', 'Davis'] 2
['Michael', 'Reed'] 2
['Matthew', 'Ball'] 2
['Larry', 'Robinson'] 2
['Kyle', 'Gonzalez'] 2
['Sarah', 'Atkinson'] 2
['William', 'Foster', 'PhD'] 3
['Michael', 'James'] 2
['Michael', 'Strong'] 2
['Kenneth', 'Moore'] 2
['Brittney', 'Coleman'] 2
['Jacob', 'Stein'] 2
['Jason', 'Rodgers'] 2
['Jose', 'Newton'] 2
['John', 'Wheeler'] 2
['April', 'Ellis'] 2
['Caleb', 'Young'] 2
['Derrick', 'Alexander'] 2
['Jasmine', 'Li'] 2
['Michael', 'Higgins'] 2
['Joel', 'French'] 2
['Sheri', 'Taylor'] 2
['Vanessa', 'Wagner'] 2
['Amanda', 'Ramirez'] 2
['Susan', 'Gates'] 2
['Jason', 'Lawrence'] 2
['Jonathan', 'Alvarez'] 2
['Joshua', 'Graham'] 2
['Jeffery', 'Gomez'] 2
['Sara', 'Hughes'] 2
['Sandy', 'Johns'] 2
['Melissa', 'Carter'] 2
['Emma', 'Foley'] 2
['Jennifer', 'Harris'] 2
['Gloria', 'Wilson'] 2
['Angela', 'Daniels'] 2
['Marcus', 'Morgan'] 2
['Joanna', 'Allen'] 2
['Lisa', 'Kennedy'] 2
['Joseph', 'Stewart'] 2
['Lindsey', 'Thompson'] 2
['Lori', 'Dickson'] 2
['Jeremy', 'Edwards'] 2
['Joseph', 'Burgess'] 2
['Antonio', 'Kirk'] 2
['Renee', 'Mcdonald'] 2
['Kelli', 'Barnes'] 2
['Lucas', 'Williams', 'Jr.'] 3
['Kathleen', 'Barr'] 2
['Nancy', 'Silva'] 2
['Rachel', 'Murphy'] 2
['Rhonda', 'Rodriguez'] 2
['Tammy', 'Torres'] 2
['Jennifer', 'White'] 2
['Carrie', 'Stewart'] 2
['Karen', 'Rogers'] 2
['Dr.', 'Kimberly', 'Page'] 3
['Catherine', 'Mendoza'] 2
['Stacy', 'Wells'] 2
['Crystal', 'Smith'] 2
['Ernest', 'Lawrence'] 2
['Sharon', 'Nguyen'] 2
['Mary', 'Coffey'] 2
['Kimberly', 'Pruitt'] 2
['Richard', 'Mcdonald'] 2
['Gregory', 'Taylor'] 2
['Joseph', 'Ho'] 2
['Anna', 'Smith'] 2
['Daniel', 'Best'] 2
['Terri', 'Johnston'] 2
['Katherine', 'Harrison'] 2
['Megan', 'Carson'] 2
['Stephanie', 'Wilson'] 2
['Samantha', 'Johnson'] 2
['Andrew', 'Merritt'] 2
['Susan', 'Simon'] 2
['Maria', 'Shields'] 2
['Samuel', 'Casey'] 2
['Robert', 'Wood'] 2
['Jonathan', 'Mueller'] 2
['Diane', 'Miller'] 2
['Brett', 'Arnold'] 2
['Brian', 'Williams'] 2
['Shawn', 'Hayden'] 2
['Emily', 'Gomez'] 2
['Kerri', 'Berger'] 2
['Laura', 'Webster'] 2
['Elizabeth', 'Aguirre'] 2
['Victoria', 'Bailey'] 2
['Monica', 'Hampton'] 2
['Catherine', 'Lee'] 2
['Cheyenne', 'Hernandez'] 2
['Jonathan', 'Sullivan'] 2
['Deborah', 'Higgins', 'DDS'] 3
['Steven', 'Jackson'] 2
['Cristian', 'Webster'] 2
['Audrey', 'Fry'] 2
['Michael', 'Carroll'] 2
['Raymond', 'Hawkins'] 2
['Christopher', 'Wilson'] 2
['Glenda', 'Fletcher'] 2
['Jennifer', 'Hamilton'] 2
['Shannon', 'Williams'] 2
['Lori', 'Moore'] 2
['William', 'Hubbard'] 2
['Bradley', 'Johnson'] 2
['John', 'Brooks'] 2
['Stephanie', 'Contreras'] 2
['Kristen', 'Gonzalez'] 2
['Kari', 'Holloway'] 2
['Kimberly', 'Cabrera'] 2
['Katie', 'Weaver'] 2
['April', 'Reyes'] 2
['Derek', 'Weeks'] 2
['John', 'Reese'] 2
['Joseph', 'Anthony'] 2
['Donna', 'Howard'] 2
['Dawn', 'Bell'] 2
['Rebecca', 'Tanner'] 2
['Desiree', 'Kidd'] 2
['Carolyn', 'Jackson'] 2

In [17]:
# Create a new list and use it for the for loop to iterate through the list.
students_to_fix = []

# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)

# Get the length of the students whose names are greater than or equal to "3".
len(students_to_fix)

1531

In [18]:
print(students_to_fix)

d Johnson Jr.', 'Timothy Chavez Jr.', 'Michele Oconnell MD', 'Elizabeth Tran MD', 'Dr. Grace Martin', 'Sarah Chaney DDS', 'Mrs. Brooke Henry DDS', 'Dr. Lisa Coleman', 'Brian Powell III', 'Logan Oconnell PhD', 'Lance Rangel Jr.', 'Dr. Nicole King', 'Mr. John Carroll', 'Mr. Anthony Mccormick', 'Samuel Ruiz MD', 'Ms. Jennifer Richard', 'Mr. Stephen Cochran', 'Gary Jarvis MD', 'Dustin Stephenson MD', 'Mr. Derrick Campbell DDS', 'Lori Brown MD', 'Mrs. Brooke Rodgers', 'Mr. David Moss', 'Mr. Joseph Knight DDS', 'Mrs. Brittany Duncan MD', 'Mrs. Jennifer Edwards DVM', 'William Cook PhD', 'Kristina White MD', 'Tonya Henry MD', 'Robert Sanders PhD', 'Noah Herrera Jr.', 'Linda Marshall MD', 'James Davis MD', 'Dawn Gilbert MD', 'Dr. Dennis Andrews', 'Mr. John Evans', 'Mr. Michael Brooks', 'Shannon Ortiz MD', 'Mrs. Brenda Bishop MD', 'Wanda Miller MD', 'Mrs. Sheila Wagner', 'Mrs. Kathleen Johnson DVM', 'Dr. Shannon Russo', 'Chad Chavez DVM', 'Mr. William Holt', 'Paul Jensen PhD', 'Cassandra Gardner DDS', 'Mrs. Susan Klein', 'Dr. Amanda Nguyen', 'Mrs. Leslie Esparza', 'Mrs. Jacqueline Simpson', 'Mrs. Tammy Crane', 'Dr. Wendy Oliver', 'Katelyn Mejia DDS', 'Dr. Miguel Rivera', 'Mrs. Nancy Landry', 'Renee Stewart MD', 'Breanna Mcintyre DDS', 'Sarah Fischer MD', 'Ronald Berry DVM', 'Mrs. Amanda Cook', 'Dr. Monica Gonzalez', 'Miss Jennifer Moore', 'Crystal Watson DVM', 'Suzanne Edwards DDS', 'Lance Brown DVM', 'Olivia Taylor DDS', 'Mrs. Lauren Lewis', 'Jillian Proctor MD', 'Yvette Jacobson MD', 'Chelsea Rhodes DVM', 'Robert Brown DVM', 'Maria Brooks DDS', 'Eric Johnson Jr.', 'Kelly Webb PhD', 'Dr. Valerie Chen', 'Mrs. Taylor Martin', 'Dr. Andre Casey', 'Mr. Stephen Clements', 'Kevin Morrow MD', 'Dr. Louis Skinner', 'Adam Walker DVM', 'Mr. Steven Smith', 'Dr. Willie King', 'Miranda Stanley DVM', 'Dr. Travis Johnson', 'Mr. Christopher Cook', 'Mr. Martin Hensley DDS', 'Kelly Haynes DVM', 'Mr. Alexander Foster MD', 'Mr. William Rodgers', 'Anne Larsen MD', 'Sherry Johnson MD', 'Victor Chavez II', 'Brandon Dougherty DDS', 'Elizabeth Young DDS', 'Mr. Joshua Lucas', 'Michael Walsh DDS', 'Mrs. Lauren Campbell', 'Troy Camacho MD', 'Richard Ellis Jr.', 'Mr. Brandon Johnson', 'Mrs. Brooke Campbell', 'Dr. Karen Kelley', 'Mr. Jason Simmons', 'Mr. Larry Francis MD', 'Mr. Christopher Griffin', 'Mr. Dean York', 'Charles Goodman Jr.', 'Miss Erin Bradley DDS', 'Mr. Michael Allen', 'Kelly Romero MD', 'Anna Yang MD', 'John White DVM', 'Mr. James Barnes', 'Mr. Carlos Warner', 'April Calderon MD', 'Mrs. Kimberly Key DDS', 'Eric Park DDS', 'Patrick Barker PhD', 'Michael Singh Jr.', 'Jonathan Smith Jr.', 'Allen Morris Jr.', 'Mr. Lee Rose', 'Dr. Carl James', 'Dr. Kimberly Benjamin', 'Mr. Lucas Smith', 'Mr. Jason Grant DDS', 'Aaron Solis Jr.', 'Ryan Graham MD', 'Justin Morgan MD', 'Mrs. Victoria Cochran', 'Dr. Ryan Roberts', 'Katie Strickland DDS', 'Emma Perry MD', 'Mr. Daniel Mckinney Jr.', 'Mr. Paul Farmer', 'Stephanie Howard MD', 'Mandy Mcconnell DDS', 'Mrs. Angelica Hall', 'Christopher Petty Jr.', 'Megan Shaw DDS', 'Bianca Huynh MD', 'Miss Christina Burns', 'Melissa Dunn MD', 'Mr. Derek Wilson', 'Mr. Angel Johnson', 'Mrs. Nicole Duran', 'Michael Garcia Jr.', 'Mrs. Bethany Fisher PhD', 'Mr. Daniel Nguyen DDS', 'Wanda Moore MD', 'Charles Short II', 'Kimberly Jacobson PhD', 'Debbie Brown DVM', 'Mr. Michael Dyer MD', 'Joshua Kim DDS', 'Daniel Fitzpatrick PhD', 'Jordan Waller MD', 'Mr. Jesse Bell', 'Mario Myers MD', 'Terry Adams DDS', 'Derek Barker Jr.', 'Mrs. Renee Gordon', 'Mr. Vincent King', 'Dr. Oscar Lawson MD', 'Lisa Zimmerman DVM', 'Mr. Phillip Vaughan', 'Joseph Dyer MD', 'Dr. Austin Cole', 'Mrs. Amanda Martin', 'John Thomas MD', 'Sierra Dominguez MD', 'Mrs. Katie Weber MD', 'Ms. Nancy Green', 'Mrs. Pamela Garcia', 'Danielle Stanton MD', 'Elizabeth Logan DDS', 'Courtney Wall DVM', 'Karen Harris PhD', 'Mrs. Amanda Herring', 'Dr. David Miller', 'Mr. Eric Anderson', 'Mrs. Sheena Bailey DVM', 'Zachary Garrett III', 'Thomas Harrison Jr.', 'Megan Bennett DVM', 'Mr. Steven Harrison', 'Amy Mcintosh MD', 'Dr. Frank Anderson', 'Jamie Dawson MD', 'Mr. Andrew Mitchell V', 'Dr. Travis Richmond', 'Mrs. Amy Cain', 'Aaron Davis Jr.', 'Thomas Burgess MD', 'Amanda Hale DVM', 'Derek Cooke MD', 'Dr. Daniel Bowman', 'Dr. Jonathan Palmer', 'Lori Mitchell DDS', 'Mr. Richard Armstrong', 'Dr. Timothy Johnson', 'Mrs. Pam Lewis DVM', 'Amy Gutierrez DDS', 'Dr. Christina Flores', 'Brian Bailey Jr.', 'Mrs. Carla Humphrey', 'William Burch MD', 'Yvonne Robinson PhD', 'Martha Mcdonald DVM', 'Dr. Mary Schwartz', 'Taylor Green DDS', 'Christopher Simmons PhD', 'Rhonda Peterson MD', 'Jacqueline West DDS', 'Anne Lee DDS', 'Jacqueline Snow MD', 'Dr. Jennifer Shea', 'Clayton Williams DVM', 'Mr. Jeremiah Morris IV', 'Mr. John Harris', 'Mr. David Morales Jr.', 'Barbara Johnson MD', 'Megan Gutierrez MD', 'Larry Chandler Jr.', 'Ronald Matthews PhD', 'James Clark II', 'Cameron Roman Jr.', 'Mr. Ian Smith', 'Melissa Hunt MD', 'Alexandria Cooper MD', 'Mr. Andre Jensen', 'Renee Garcia MD', 'Christopher Smith Jr.', 'Mrs. Lori Rogers MD', 'Tammy Dunlap DVM', 'Matthew Sawyer PhD', 'Mike Harris PhD', 'Mrs. Christina Mitchell DDS', 'Evelyn Suarez DDS', 'Christina Alvarez PhD', 'Emily Duran MD', 'Todd Grant Jr.', 'Mrs. Veronica Sherman', 'Mr. Alan Anderson', 'Mr. Jason Jackson', 'Mrs. Jennifer Rivera', 'Dr. Terry Sanchez', 'Mr. Scott Sexton', 'Mrs. Wendy Hayes', 'Kenneth Santiago MD', 'Dr. Matthew Hernandez', 'Louis Hodges DDS', 'Dr. Douglas Duffy', 'Mrs. Michelle Patterson', 'Mrs. Jennifer Craig', 'Mr. Michael Graham', 'Dr. David Wright', 'Jeanne Fischer MD', 'Mrs. Amanda Rose', 'Rebecca Salazar DDS', 'Mrs. Kathleen Cook', 'Robert Olson DVM', 'Richard Cherry DDS', 'Jeffrey Shepard DVM', 'James Holland MD', 'Dr. Patricia Baker', 'Joshua Montgomery MD', 'Kevin Andrews PhD', 'Dr. Rachel Gilbert', 'Kenneth Avila Jr.', 'Miss Taylor Barron', 'Mr. Jason Lopez Jr.', 'Parker Carter MD', 'Dennis Wells DDS', 'Mrs. Carol White', 'Courtney Stephenson MD', 'Dr. Andrea Rose', 'Dr. Seth Villarreal DVM', 'Mrs. Sabrina Murillo MD', 'Mr. Eric Gordon', 'Mrs. Brenda Johnson DVM', 'Anthony Garrett DDS', 'Billy Franco PhD', 'Mr. Jeremiah Rogers', 'Mr. Donald Vang', 'Dr. Alexander Chang PhD', 'Mr. Robert Hendricks', 'Dr. Bryan Kim', 'Mrs. Cynthia Lopez', 'Dr. Laura Thompson', 'Ms. Stephanie Schwartz DDS', 'Mr. Anthony Deleon', 'Miss Sarah West', 'Dr. Devin Sharp PhD', 'Brittney Hammond DVM', 'Miss Chelsea Sullivan PhD', 'Dr. Jessica Love DVM', 'Leah Page DDS', 'Hannah Rose MD', 'Miss Norma Mcfarland', 'Dwayne Mathis Jr.', 'Cheryl Gay PhD', 'Patrick Morgan MD', 'Jeremy Rivera MD', 'Mr. Colton Collins II', 'Mr. Alexander Dalton', 'Dr. Nicholas Braun', 'Chris Palmer III', 'Mr. Mason Hernandez MD', 'Dr. Roberta Edwards', 'Dr. Kaitlin Barton', 'Dr. Nicholas Garcia', 'Mr. Trevor Woods', 'Dr. Bradley Jones DDS', 'Dr. Jennifer Thomas DDS', 'Dr. Adam Rivera', 'Mr. Sean Coleman PhD', 'Dr. Sheila Walton MD', 'Ian Sanchez DVM', 'Dr. Robert Mckinney', 'Laura Franco MD', 'Kelly Williams DDS', 'Mason Adams MD', 'Mr. Jason Davis', 'Dr. Daniel Flores', 'Mr. Gary Anderson DDS', 'Tyler Randall Jr.', 'Joshua Santiago DDS', 'Laurie Moore DDS', 'Dr. Susan Walsh', 'Kristin Smith MD', 'Mrs. Denise Vasquez', 'Miss Bridget Ryan', 'Joseph Morgan IV', 'Carlos Adkins Jr.', 'Michael Craig DDS', 'Dr. Brent Schwartz', 'Mrs. Melissa Vasquez', 'Ms. Sandra Ware', 'Dr. Becky Powell', 'Dr. Matthew Cooper DDS', 'Mark Livingston Jr.', 'Mr. Michael Martin DVM', 'Kari Anderson DVM', 'Mrs. Kaitlin Oconnor DVM', 'Crystal Miller DVM', 'Mrs. Margaret Watson', 'Mr. John Martin', 'Richard Price MD', 'Jennifer Powell DVM', 'Sheri Davis DDS', 'Traci Blanchard MD', 'Mrs. Nancy Blair', 'Aaron Carpenter MD', 'Dr. Monica Wilson', 'Dr. Kristin Holland', 'Kimberly Knight DDS', 'Mrs. Brittany Ford DDS', 'Benjamin Singh DVM', 'Dr. Amber Owens', 'Michael Williams III', 'Mrs. Wendy Gomez DVM', 'Kara Stuart MD', 'Kayla Torres DVM', 'Bobby Hart DDS', 'Mark Russell MD', 'John Duncan MD', 'Rachel Gonzalez DVM', 'Mrs. Katherine Jones', 'Dr. Brian Harrington DVM', 'Mrs. Theresa Winters', 'Mr. Chad Hale', 'Miguel Cook MD', 'Eric Evans III', 'John Murray DDS', 'Dr. Andrew Young', 'Mrs. Jordan White MD', 'Dr. Erica Stevenson', 'Mr. Stephen Hardy', 'Paul Stanley DDS', 'Christina Gonzalez DVM', 'Dr. Anthony Jimenez', 'Christopher Thornton Jr.', 'Mrs. Julie Powers', 'Dr. Christopher Sullivan', 'Dr. Joyce Pace', 'Dr. Alyssa Patrick', 'Adam Hayes III', 'Brittany Holmes MD', 'Mrs. Angela Floyd', 'Ms. Angela Hernandez', 'Michael Cummings MD', 'Brittany Sanchez PhD', 'Nicole Mclean DVM', 'Dr. Melissa Fernandez', 'Scott Bishop DDS', 'Mrs. Alexandra Hamilton', 'Dr. Jacob Taylor MD', 'Michael Moore Jr.', 'Ms. Alicia Zhang DDS', 'Mrs. Sharon Rose', 'Amber Ray MD', 'Mr. Jeremy Chang', 'Joseph Hudson II', 'Jessica Hughes MD', 'William Brooks Jr.', 'Mr. Jacob Frost', 'Mrs. Melissa Ingram DDS', 'Dr. Robert Murphy', 'Mrs. Melanie Martinez PhD', 'Mr. Stephen Berry', 'Dr. Judith Reese', 'Sarah Young DDS', 'Angela Thompson DDS', 'Mr. Darren Taylor', 'Daniel Welch II', 'Roger Horton Jr.', 'Dr. Virginia Evans', 'Dr. John Dyer', 'Jeffery Brown DDS', 'Paul Cox MD', 'Mrs. Angela Williams', 'Cory Marshall II', 'Mrs. Megan Clark MD', 'Dr. Jennifer Hogan MD', 'Natalie Davis MD', 'Dr. Sarah Johnson', 'Dr. Corey Mathis', 'Mr. Joshua Thompson Jr.', 'Nancy Stewart DDS', 'Mr. Brian Glover', 'Roberta Garcia MD', 'Erin Conrad DVM', 'Dr. Karla Love', 'Dr. Tina White PhD', 'Leslie Wright MD', 'Ms. Brittney Nunez', 'Mrs. Susan Mccormick', 'Amanda Wolf DVM', 'Mr. Mitchell Coleman', 'Miss Christy Harris', 'Dylan Foley DDS', 'Mr. Lance Stark', 'Ricky Murphy DDS', 'Mr. Elijah Anderson', 'Kristen Dennis DVM', 'Mr. Casey Vang', 'William Young DDS', 'Ms. Kristina Cook', 'Mrs. Kimberly Floyd DDS', 'Mr. Timothy Brooks', 'Mrs. Samantha Jackson', 'Miss Lori Doyle', 'Ms. Karen Villegas MD', 'Brenda Maldonado MD', 'Katherine Pierce MD', 'Dr. Aaron Morrison MD', 'Marcia Swanson DDS', 'Yolanda Harris DVM', 'Roger Forbes PhD', 'Dr. Tiffany Harmon', 'Mrs. Kimberly Brandt', 'Mr. Casey Pham', 'Mrs. Dana Hammond DDS', 'John Ruiz DDS', 'David Li MD', 'Lisa Velasquez MD', 'Brian Bryan MD', 'Mr. Brian Wilson', 'Mr. Joseph Medina', 'Monica Dean DDS', 'Travis Mcintyre DVM', 'Mrs. Kelsey Marshall', 'Mr. Duane Roberts MD', 'Jon Flores II', 'Mrs. Lisa Lyons MD', 'Dr. Philip Jones Jr.', 'Greg Joyce Jr.', 'Ms. Barbara Tran', 'Mrs. Mary Duarte MD', 'Christina Hull MD', 'Mr. Anthony Wilson', 'Mrs. Lisa Baker', 'Miss Mary Sloan', 'Mr. Joshua King', 'Daniel Mckinney MD', 'Nicole Martinez MD', 'Dr. David Robinson DVM', 'Joe Butler MD', 'Thomas Frye Jr.', 'Patrick Mcdaniel PhD', 'Dr. Brooke Williams', 'Robert Edwards PhD', 'Cynthia Mclaughlin PhD', 'Mark Hardy DDS', 'Dr. Kathryn Riley', 'Mrs. Heather Price', 'Miss Ashley Howell', 'Mr. James Adams', 'Mr. Michael Eaton', 'Mr. Joseph Marquez Jr.', 'Danielle Mercer DVM', 'Jacqueline York DDS', 'Mrs. Barbara Sanchez', 'Dr. Valerie Kline', 'Mr. Tony Cobb', 'Mr. Justin Jarvis', 'Nichole Novak MD', 'Mr. Matthew Cameron', 'Michael Robinson DVM', 'Adam Munoz PhD', 'Mr. Stephen Vaughan', 'Mr. Daniel Hale', 'Valerie Mccormick MD', 'Robert Smith Jr.', 'David Beck Jr.', 'Dana Bennett DVM', 'Dr. Tina Woodard', 'James Smith MD', 'Mr. Jerry Norton', 'Billy Hall DDS', 'Dr. Lauren Robertson MD', 'Mrs. Joyce Cunningham', 'Mr. Matthew Reilly', 'Erik Lowe MD', 'Mrs. Tara Lee', 'Dr. Theresa Gaines MD', 'Danielle Brown MD', 'Miss Misty Wood', 'Jonathan Maldonado MD', 'Mrs. Ashley Martin', 'Ms. Emily Ford', 'Mr. Isaiah Martinez DDS', 'Christopher Moore PhD', 'Mr. Andrew Robinson', 'Mr. Ryan Gates', 'John Fitzgerald MD', 'Gail Page PhD', 'Cheryl Richards MD', 'Todd Sandoval DVM', 'Mr. Brendan Watson', 'Mr. Brandon Bryan', 'Mrs. Karen Wright MD', 'Rhonda Stevenson MD', 'Danielle Cook MD', 'Ms. Taylor Velazquez', 'Michelle Porter DDS', 'Ryan Gomez II', 'Mrs. Rachel Hensley', 'Mrs. Cynthia Lawrence', 'Melissa Gonzalez DVM', 'Dr. Laura Tyler', 'Erik Smith Jr.', 'Angie Clarke DVM', 'Jennifer Olson MD', 'Omar Thompson Jr.', 'William Smith DDS', 'Jessica Smith DVM', 'Mr. Justin Mccoy', 'Robert Nguyen DDS', 'Leonard Roberts Jr.', 'Dr. Paul Johnson', 'Cody Martinez DVM', 'Duane Li Jr.', 'Ms. Allison Cunningham', 'Dr. Robert Hurley', 'Mrs. Ashley Floyd', 'Hunter James DDS', 'Dr. Brianna Greene MD', 'Matthew Higgins PhD', 'Mr. Jeremy Valentine', 'Wesley Martinez DDS', 'Mr. Justin Jones', 'Brent Ball DDS', 'Miss Jessica Holloway DVM', 'Mark Sanders MD', 'Dr. Tracy Levy', 'Larry Anderson MD', 'Dr. Steven Smith', 'Christian Hurst PhD', 'Amanda Gomez DDS', 'Mr. Anthony Nunez', 'Mrs. Rachel Newman DDS', 'Mr. Tyler Foster', 'Mr. Barry Copeland', 'Mr. Richard Edwards', 'Carly Montoya DDS', 'Mrs. Amy Bradford DDS', 'Mr. Tyler Allen', 'Mrs. Melissa Ramirez', 'Claudia Cook MD', 'Thomas Herrera DVM', 'Mr. Bobby Tucker', 'Dr. Stephanie Gonzalez', 'Dr. Bridget Hart DVM', 'Emily Graham DVM', 'Mr. Daniel Carpenter', 'Mr. Christian Bennett', 'Mr. Mark Peters DDS', 'Dr. Bradley Jackson', 'Miss Hannah Moore MD', 'Kaitlyn Adams MD', 'Darren Moore MD', 'Richard Lucero Jr.', 'Elizabeth Holder PhD', 'Mrs. Shannon Gonzalez MD', 'Seth Medina Jr.', 'Betty Raymond DVM', 'Dr. Crystal Watson', 'Scott Diaz DDS', 'Mrs. Lindsey White', 'Ryan Lamb DVM', 'Amber Graham MD', 'Mrs. Jennifer Chavez DVM', 'Becky Aguilar MD', 'Mrs. Lisa Vargas DDS', 'Robert Frazier DDS', 'Mrs. Jennifer Kelly', 'Mr. Richard Curry PhD', 'Mrs. Anna Perez', 'Keith Gomez DDS', 'Anthony Carlson Jr.', 'Dr. Bradley Rodgers', 'Mr. William Bishop', 'Mrs. Rhonda Bradley', 'Kimberly Martin DDS', 'Ryan Martinez MD', 'Latasha Thomas MD', 'Mrs. Tamara Burns', 'Andrea Dawson MD', 'Mr. Daniel Johnson', 'Lauren Smith MD', 'Dr. Nicole Brady', 'Wyatt Hoffman DDS', 'Dr. Kathy Bailey', 'Mr. Jorge Smith', 'Dr. Katherine Pham', 'Deanna Key DVM', 'Donna Mcclure MD', 'Dr. Jeremy Davis', 'Mrs. Brittany Boone MD', 'Debra Torres PhD', 'Hannah Garcia MD', 'Ms. Jacqueline Stone', 'Dr. Wesley Lynch MD', 'Edward Dudley II', 'Nathan Gonzalez MD', 'Dr. Sean Neal', 'Matthew Lewis Jr.', 'Jacob Perez PhD', 'Alexander Brown MD', 'Mr. Duane Sherman', 'Mr. John Petty', 'Ms. Brooke Stewart', 'Isaac Smith PhD', 'Dr. Kristi Soto MD', 'Dr. Timothy Haynes', 'Dr. Raven Ortiz MD', 'Kendra Buckley DDS', 'Mr. Russell Daniel', 'Christopher Bowers Jr.', 'Wendy Arroyo PhD', 'Taylor Hill DDS', 'Mrs. Lisa Guerrero', 'Mr. Jose Moran', 'Allison Perkins MD', 'Lisa Monroe DDS', 'Kenneth Cervantes DDS', 'Sandra Freeman MD', 'Mr. Patrick Rodriguez MD', 'Brendan Kim MD', 'Timothy Hughes Jr.', 'Dr. Carlos Mcdonald', 'Chad Bryant DDS', 'Gina Nguyen DDS', 'Dr. James Myers', 'Meagan Browning MD', 'Mr. Frank Delgado', 'Michael Torres MD', 'Michelle Richards MD', 'Kimberly Osborn MD', 'Kevin Hoover IV', 'Mr. Jeffrey Thompson', 'Mrs. Laurie Hamilton', 'David Butler Jr.', 'Amy Jones MD', 'Nicholas Frost DDS', 'Mr. James Thompson MD', 'Mrs. Adrienne Evans DDS', 'Mr. Christopher Bell', 'Louis Smith MD', 'Dr. Cameron Anderson', 'Crystal Wiggins MD', 'Michael Wilson Jr.', 'Matthew Savage MD', 'Jeffrey Jones DVM', 'Mr. John Burns', 'Dr. Luke Torres DVM', 'Christopher Stewart DVM', 'Benjamin Carlson MD', 'Emily Fitzgerald MD', 'Mrs. Carolyn Cole', 'Bruce Cummings DVM', 'Lisa Vance DVM', 'Mrs. Lisa Doyle', 'Dr. Brenda Sandoval', 'Miss Taylor Garza', 'Elizabeth Robinson PhD', 'Mr. George Hess Jr.', 'Courtney Cox PhD', 'Mr. Brian Schmidt DVM', 'Kevin Briggs Jr.', 'Ms. Grace Austin', 'Louis Cooper MD', 'Mrs. Tabitha Coleman', 'Thomas Knox MD', 'Sierra Little DDS', 'Mr. Joseph Matthews III', 'Mrs. Brenda Henderson DVM', 'Michael Martin DDS', 'Mr. Andrew Dennis', 'Dr. Edward Davenport', 'Dr. Dylan Bailey Jr.', 'Mr. John Jackson', 'Lisa Hernandez MD', 'Dr. Michael Gibbs', 'Angel Brown MD', 'Mr. Timothy Carter', 'Anthony Woods Jr.', 'Ms. Amy Watson', 'Marcus Jones MD', 'Kelsey Bennett MD', 'Ashley Wells DVM', 'Michael Harris Jr.', 'Daniel Diaz Jr.', 'Mrs. April Thornton', 'Steven Reid DDS', 'Mr. Jay Maxwell', 'Dr. Patrick Rasmussen', 'Dr. Jordan Smith', 'Cristian Williams PhD', 'Mrs. Amanda Harris DDS', 'Sean Reed DDS', 'Dr. Robin Higgins', 'Dr. Megan Glass', 'Mr. William Scott', 'Mr. Chad Gentry DDS', 'Taylor Thompson Jr.', 'Miss Wendy Martin', 'Daniel Robinson Jr.', 'Miss Jessica Hood', 'Michael Taylor MD', 'Micheal Stout DVM', 'Michael Aguirre DDS', 'Dr. Karl Campbell', 'Mr. Aaron Randolph', 'Dr. Jenna Arellano MD', 'Holly Adams MD', 'Melissa Barnett PhD', 'Brenda Brown DDS', 'Alicia Palmer MD', 'Dr. Carl Haynes', 'Anthony Bryant DDS', 'Christopher Perez DVM', 'Mrs. Amber Garner DVM', 'Thomas Diaz MD', 'Mr. Logan Thomas', 'Sherry Turner DDS', 'Joshua Martinez MD', 'Mrs. Alicia Sanford', 'Mrs. Laura Sexton', 'Melissa Coleman MD', 'Dr. Dana Burnett MD', 'Ronald Phelps Jr.', 'Mrs. Jessica Flynn', 'Dr. Robin Jones', 'Mr. Michael Jones', 'Jeffrey Parker MD', 'Mrs. Elizabeth Jones', 'Erika Stafford DVM', 'Mr. Vincent Reed', 'Mr. Justin Mcgee', 'Todd Turner DDS', 'Karen Kidd MD', 'Michael Miller PhD', 'Dr. Deborah Farrell', 'Mrs. Sharon Kelley', 'Andrew Cole MD', 'Jonathan Reid II', 'Mrs. Taylor Castillo', 'Joshua Smith Jr.', 'Joseph Herrera III', 'Miss Megan Smith', 'Catherine Ferguson MD', 'Dr. Mitchell Hays', 'Mrs. Jordan Turner', 'Mr. Robert Reyes', 'Mr. Johnny Walsh', 'Andrew Walsh PhD', 'Mrs. Lauren Collins', 'Adam Thompson MD', 'Mrs. Chelsea Roberts MD', 'Ms. Debra Brown', 'Vicki Santos PhD', 'Tony Robertson II', 'Kathleen Golden DDS', 'Dr. Elizabeth Tran', 'Miss Rachel West', 'Jessica Hoover DVM', 'Toni Graham DDS', 'Joseph Patel MD', 'Nathaniel Molina DDS', 'Ms. Cheryl Fisher', 'Nicolas Crawford MD', 'Wendy Owens DVM', 'Patricia Boone MD', 'Mr. Robert Estrada', 'Mr. Kevin Yates', 'James Fowler III', 'Dr. Andrea Welch DDS', 'Ms. Sara Parker', 'Dr. Destiny Mcdonald', 'Mrs. Brittany Perry MD', 'Timothy Mccoy DVM', 'Melissa Cohen MD', 'William Wright II', 'Dr. Jose White', 'Dr. Mason Graves', 'Dr. Diane Rodriguez', 'Marilyn Rubio DDS', 'Jose Lewis MD', 'Latasha Hughes MD', 'Monica Wallace DDS', 'Dr. Robin Reed', 'Dr. Ashley Butler', 'Misty Garcia MD', 'Amy Turner MD', 'Robert Miller DVM', 'Andrea Horton MD', 'Thomas Estes MD', 'Justin Warner MD', 'Thomas Carrillo II', 'James Hess DDS', 'Matthew Bennett Jr.', 'John Scott MD', 'Mrs. Carla Lawson', 'Anthony Campbell DDS', 'Mario Griffith MD', 'Mr. Jacob Jackson', 'Mrs. Allison Robinson', 'Mrs. Amber Hall', 'Miss Gabriela Burch', 'Kathryn Wade MD', 'Mr. Anthony Martinez', 'Dr. Justin Duffy', 'Steven Hoover MD', 'Mary Smith MD', 'Tiffany Young DDS', 'Mark Lucas IV', 'Kenneth Marquez MD', 'Keith Newman Jr.', 'Matthew Mitchell III', 'Dr. Jo Williams', 'Lauren Howell DDS', 'Erica Martin DDS', 'Ms. Hannah Mcdonald MD', 'Brandon Palmer DDS', 'Ms. Stephanie Nichols DVM', 'Dr. Mckenzie Cummings', 'Valerie Joseph DVM', 'Harold Parker PhD', 'Mr. David Reeves', 'Dr. Christina Barrera', 'Kristen Solis MD', 'Colin Schultz II', 'Miss Michelle Li', 'Mr. Andrew Summers', 'Dr. Kimberly Ramos', 'Thomas Meyer DVM', 'Troy Foster MD', 'John Hernandez DVM', 'Valerie Krueger DDS', 'Carol Valdez DDS', 'Dr. Jay Johnson DDS', 'Brenda Holloway DVM', 'Wendy Parker MD', 'Kim Smith DVM', 'Mr. Wesley Fields MD', 'Nicole White MD', 'Amanda Skinner MD', 'Adrienne Turner MD', 'Terry Scott Jr.', 'Cesar Rodriguez DVM', 'Jennifer Gay MD', 'Mr. Earl Thompson', 'Miss Melinda Thomas', 'Mary Nixon MD', 'Leslie Kelly MD', 'Mrs. Kristen Gonzalez', 'Michael Carter MD', 'Joseph Perez DDS', 'Mrs. Alice Warren', 'Julia Kelley MD', 'David Coffey PhD', 'Mrs. Pam Wolf DDS', 'Mr. Ryan Thomas', 'Gregory Morgan MD', 'Dr. Carol Williams', 'Ms. Rebecca Gonzales', 'Mrs. Samantha Glover', 'Anna Decker MD', 'Hailey Lopez DDS', 'Mr. James Baker', 'Mrs. Amber Gonzalez', 'Mr. Jason Patel Jr.', 'Stephanie Walker DDS', 'Mr. Timothy Scott', 'Dr. Michael Sullivan DDS', 'Mrs. Brittney Schultz DVM', 'Dr. Frances Romero', 'Laura Bennett DDS', 'Allen Goodwin DDS', 'Kimberly Brown MD', 'Steven Lewis Jr.', 'Angela Garcia DDS', 'William Foster PhD', 'Lucas Williams Jr.', 'Dr. Kimberly Page', 'Deborah Higgins DDS']

In [19]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

print(prefixes)

['Dr.', 'Dr.', 'Mr.', 'Dr.', 'Miss', 'Luke', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mary', 'Mrs.', 'Mrs.', 'Mr.', 'Tara', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'John', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dale', 'Dr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Amy', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mr.', 'Lisa', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mark', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Miss', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Mrs.', 'Mr.', 'Tara', 'Dr.', 'Mr.', 'Cody', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Sara', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Ryan', 'Mrs.', 'Mr.', 'Ms.', 'Mr.', 'Dr.', 'John', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Ms.', 'Mr.', 'Miss', 'Tony', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Mrs.', 'Jodi', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Ruth', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'John', 'Dr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'John', 'Amy', 'Adam', 'Dr.', 'Eric', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Kyle', 'Mr.', 'Ms.', 'Lynn', 'Dr.', 'Mr.', 'Jon', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Judy', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Sara', 'Dr.', 'Dr.', 'Mrs.', 'Tara', 'Dr.', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Mr.', 'Dr.', 'Miss', 'Tina', 'Dr.', 'Eric', 'Ms.', 'Ms.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Miss', 'Dr.', 'Paul', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Marc', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Amy', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Jill', 'Mary', 'Carl', 'Mr.', 'Dr.', 'Jose', 'Mrs.', 'Mary', 'Ms.', 'Jose', 'Lisa', 'Mrs.', 'Mr.', 'Miss', 'Mr.', 'Eric', 'Mr.', 'Mrs.', 'Mrs.', 'Miss', 'Emma', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Mr.', 'Gary', 'Mr.', 'Lori', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Noah', 'Dawn', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Chad', 'Mr.', 'Paul', 'Mrs.', 'Dr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Eric', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Dr.', 'Adam', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Anne', 'Mr.', 'Mrs.', 'Troy', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Miss', 'Mr.', 'Anna', 'John', 'Mr.', 'Mr.', 'Mrs.', 'Eric', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ryan', 'Mrs.', 'Dr.', 'Emma', 'Mr.', 'Mr.', 'Mrs.', 'Miss', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Lisa', 'Mr.', 'Dr.', 'Mrs.', 'John', 'Mrs.', 'Ms.', 'Mrs.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Amy', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Lori', 'Mr.', 'Dr.', 'Mrs.', 'Amy', 'Dr.', 'Mrs.', 'Dr.', 'Anne', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mike', 'Mrs.', 'Todd', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Ms.', 'Mr.', 'Miss', 'Dr.', 'Miss', 'Dr.', 'Leah', 'Miss', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Ian', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Miss', 'Dr.', 'Mrs.', 'Ms.', 'Dr.', 'Dr.', 'Mark', 'Mr.', 'Kari', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Kara', 'Mark', 'John', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Eric', 'John', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Paul', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Adam', 'Mrs.', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Ms.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Paul', 'Mrs.', 'Cory', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Erin', 'Dr.', 'Dr.', 'Ms.', 'Mrs.', 'Mr.', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Ms.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'John', 'Lisa', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Jon', 'Mrs.', 'Dr.', 'Greg', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Mr.', 'Dr.', 'Joe', 'Dr.', 'Mark', 'Dr.', 'Mrs.', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Adam', 'Mr.', 'Mr.', 'Dana', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Mr.', 'Erik', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'John', 'Gail', 'Todd', 'Mr.', 'Mr.', 'Mrs.', 'Ms.', 'Ryan', 'Mrs.', 'Mrs.', 'Dr.', 'Erik', 'Omar', 'Mr.', 'Dr.', 'Cody', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Miss', 'Mark', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Miss', 'Mrs.', 'Seth', 'Dr.', 'Mrs.', 'Ryan', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Ryan', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Lisa', 'Mr.', 'Dr.', 'Chad', 'Gina', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Amy', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Lisa', 'Mrs.', 'Dr.', 'Miss', 'Mr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Lisa', 'Dr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Sean', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Miss', 'Miss', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Todd', 'Dr.', 'Mrs.', 'Mrs.', 'Miss', 'Dr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Adam', 'Mrs.', 'Ms.', 'Tony', 'Dr.', 'Miss', 'Toni', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Jose', 'Dr.', 'Dr.', 'Amy', 'John', 'Mrs.', 'Mr.', 'Mrs.', 'Mrs.', 'Miss', 'Mr.', 'Dr.', 'Mary', 'Mark', 'Dr.', 'Ms.', 'Ms.', 'Dr.', 'Mr.', 'Dr.', 'Miss', 'Mr.', 'Dr.', 'Troy', 'John', 'Dr.', 'Kim', 'Mr.', 'Mr.', 'Miss', 'Mary', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Ms.', 'Mrs.', 'Anna', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.']

In [20]:
# Add the suffixes less than or equal to 3 to a new list.
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

print(suffixes)

['MD', 'MD', 'MD', 'III', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'II', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'PhD', 'MD', 'DVM', 'Lee', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'PhD', 'IV', 'MD', 'DDS', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'IV', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'MD', 'PhD', 'II', 'MD', 'DDS', 'DDS', 'DDS', 'Jr.', 'III', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'Jr.', 'Jr.', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'Cox', 'DVM', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'Roy', 'DDS', 'DDS', 'DDS', 'II', 'PhD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'Jr.', 'Day', 'DDS', 'MD', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'MD', 'III', 'DVM', 'PhD', 'Jr.', 'II', 'DDS', 'DDS', 'DVM', 'MD', 'II', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'DVM', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'II', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'IV', 'DDS', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'V', 'II', 'MD', 'PhD', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'MD', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'DDS', 'DDS', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'DDS', 'III', 'DVM', 'Jr.', 'DDS', 'DDS', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'Lee', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'DDS', 'DVM', 'DDS', 'DVM', 'DDS', 'DVM', 'DVM', 'DDS', 'II', 'MD', 'III', 'DDS', 'DDS', 'DVM', 'DVM', 'MD', 'Jr.', 'II', 'MD', 'PhD', 'PhD', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'III', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DDS', 'Jr.', 'PhD', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'DDS', 'DDS', 'MD', 'Jr.', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'Jr.', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'Jr.', 'PhD', 'DDS', 'MD', 'II', 'PhD', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DVM', 'III', 'Jr.', 'DVM', 'MD', 'MD', 'V', 'Jr.', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'Jr.', 'MD', 'PhD', 'DVM', 'DDS', 'PhD', 'MD', 'DDS', 'DDS', 'MD', 'DVM', 'IV', 'Jr.', 'MD', 'MD', 'Jr.', 'PhD', 'II', 'Jr.', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'PhD', 'PhD', 'DDS', 'DDS', 'PhD', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'Jr.', 'Jr.', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'DVM', 'DDS', 'PhD', 'PhD', 'Kim', 'DDS', 'PhD', 'DVM', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'PhD', 'MD', 'MD', 'II', 'III', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'MD', 'IV', 'Jr.', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DVM', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'DVM', 'III', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DDS', 'DVM', 'Jr.', 'III', 'MD', 'MD', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'DVM', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'II', 'MD', 'Jr.', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'Jr.', 'PhD', 'PhD', 'PhD', 'DDS', 'Jr.', 'DVM', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'Lee', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'II', 'DVM', 'Jr.', 'DVM', 'MD', 'Jr.', 'DDS', 'DVM', 'DDS', 'Jr.', 'DVM', 'Jr.', 'DDS', 'MD', 'PhD', 'DDS', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'DDS', 'DDS', 'DDS', 'DDS', 'MD', 'DVM', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'PhD', 'MD', 'Jr.', 'DVM', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'II', 'MD', 'Jr.', 'PhD', 'MD', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'PhD', 'DDS', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'IV', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'PhD', 'DVM', 'Jr.', 'MD', 'MD', 'DDS', 'III', 'DVM', 'DDS', 'Jr.', 'MD', 'MD', 'Jr.', 'MD', 'MD', 'DVM', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'DDS', 'Jr.', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'PhD', 'MD', 'II', 'Jr.', 'III', 'MD', 'PhD', 'MD', 'MD', 'PhD', 'II', 'DDS', 'DVM', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DVM', 'MD', 'II', 'DDS', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'IV', 'MD', 'Jr.', 'III', 'DDS', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'PhD', 'MD', 'II', 'Li', 'DVM', 'MD', 'DVM', 'DDS', 'DDS', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'Jr.', 'DVM', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'Jr.', 'DDS', 'PhD', 'Jr.', 'DDS']

In [21]:
# Get the unique items in the "prefixes" list.
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [22]:
# Get the unique items in the "suffixes" list.
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [23]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [24]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [25]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [26]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [28]:
school_data_complete_df["Student ID"].count()

39170

In [29]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [30]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [31]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [32]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [33]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [34]:
passing_math = school_data_complete_df["math_score"] >= 70

In [35]:
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [36]:
passing_reading = school_data_complete_df["reading_score"] >= 70

In [37]:
passing_reading

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [38]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [39]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [40]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [41]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [42]:
student_count=school_data_complete_df["Student ID"].count()

In [43]:
# Calculate the percent that passed math.
passing_math_percentage = (passing_math_count) / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = (passing_reading_count) / float(student_count) * 100

In [44]:
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [45]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [46]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [47]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [48]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [49]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [50]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [51]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

In [52]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2

In [53]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2

In [54]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [55]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [56]:
# Calculate the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [57]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [58]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [59]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [60]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [61]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [62]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [63]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [64]:
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [65]:
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [66]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [67]:
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [68]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [69]:
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [70]:
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [71]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [72]:
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [73]:
per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [74]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [75]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [76]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [77]:
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [78]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [79]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [80]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [81]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [82]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [83]:
ninth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [84]:
tenth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130

In [85]:
eleventh_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [86]:
twelfth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39137,39137,Victoria Bailey,F,12th,Thomas High School,75,70,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130

In [87]:
# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [88]:
ninth_grade_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [89]:
tenth_grade_math_scores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [90]:
eleventh_grade_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [91]:
twelfth_grade_math_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [92]:
# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [93]:
ninth_grade_reading_scores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [94]:
tenth_grade_reading_scores

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [95]:
eleventh_grade_reading_scores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [96]:
twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [97]:
# Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [98]:
# Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [99]:
  # Format each grade column.
  math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

  math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

  math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

  math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
  math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
  math_scores_by_grade.index.name = None
  # Display the DataFrame.
  math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [100]:
  # Format each grade column.
  reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

  reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

  reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

  reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

  # Make sure the columns are in the correct order.
  reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
  reading_scores_by_grade.index.name = None
  # Display the data frame.
  reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [101]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [102]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [103]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [104]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [105]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [106]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [107]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [108]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

In [109]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [110]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [111]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [112]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [113]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [114]:
# Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [115]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208